@import './scss/variables.scss';
@import './scss/base.scss';

html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
 // color: $bartik-blue;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  display: flex;
}

.app--content {
  display: flex;
  width: 100%;
  max-width: $container-width;
  margin: 50px auto;
  padding-left: 10px;
  padding-right: 10px;

  &.sidebar-left {
    flex-direction: row-reverse;
  }
}

.main--content {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  //width: 400px;
  //margin: 25px auto;

  input, textarea {
    padding: 7px 5px;
    margin-bottom: 20px;
    border: 1px solid $light-gray;
    border-radius: 5px;
  }

  button {
    padding: 10px;
    color: $white;
    background-color: $bartik-blue;
    transition: background-color .3s ease-in;
    border: 1px solid darken($bartik-blue, 10%);
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: darken($bartik-blue, 10%);
    }
  }
}

.app-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

